@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #4a5942; /* För att matcha sidans design */
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

.poker-header {
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Två kolumner */
  gap: 20px; /* Mellanrum mellan kolumner och rader */
  padding: 20px;
}

.grid-item {
  background-color: #2f3e2e;
  padding: 20px;
  border-radius: 8px;
  color: white;
}

.levels-table {
  overflow-x: auto;
}

.price-box {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.price-box span {
  margin-left: 5px;
  font-weight: bold;
}